.ctg-chart {
  position: relative;
}
.ctg-chart .ctg-chart-pane {
  position: absolute;
  inset: 0;
  background: #fff;
  font-size: var(--ctg-chart-font-size, 16px);
  color: #000;
  font-family: Helvetica;
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-fhr,
.ctg-chart .ctg-chart-pane .ctg-chart-pane-toco,
.ctg-chart .ctg-chart-pane .ctg-chart-pane-header,
.ctg-chart .ctg-chart-pane .ctg-chart-pane-datetime {
  position: absolute;
  inset: 0;
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-header .ctg-chart-pane-header-patient-info {
  flex-basis: 100%;
  text-align: center;
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-header .ctg-chart-pane-header-export-menu {
  flex-basis: 30px;
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-datetime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-items: center;*/
  overflow: hidden;
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-datetime .ctg-chart-pane-datetime-value {
  width: 0;
  display: flex;
  align-items: center;
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-fhr-x,
.ctg-chart .ctg-chart-pane .ctg-chart-pane-fhr-y,
.ctg-chart .ctg-chart-pane .ctg-chart-pane-toco-x,
.ctg-chart .ctg-chart-pane .ctg-chart-pane-toco-y {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-fhr-y,
.ctg-chart .ctg-chart-pane .ctg-chart-pane-toco-y {
  flex-direction: column;
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-fhr-y-line,
.ctg-chart .ctg-chart-pane .ctg-chart-pane-toco-y-line {
  border-top: solid var(--ctg-y-width, 1px) var(--ctg-y-color);
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-fhr-y-line:nth-child(2n),
.ctg-chart .ctg-chart-pane .ctg-chart-pane-toco-y-line:nth-child(2n) {
  border-top: solid var(--ctg-y-width-even, 1pt) var(--ctg-y-color-even);
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-fhr-x-line,
.ctg-chart .ctg-chart-pane .ctg-chart-pane-toco-x-line {
  border-left: solid var(--ctg-x-width, 1px) var(--ctg-x-color);
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-fhr-x-line:nth-child(10n+1),
.ctg-chart .ctg-chart-pane .ctg-chart-pane-toco-x-line:nth-child(10n+1) {
  border-left: solid var(--ctg-x-width-10th, 1pt) var(--ctg-x-color-10th);
  color: #000;
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-toco-x-line > span:first-child {
  margin-top: var(--ctg-toco-x-line-margin, -20px);
}
.ctg-chart .ctg-chart-pane .ctg-chart-pane-toco-x-line > span:last-child {
  margin-bottom: var(--ctg-toco-x-line-margin, -20px);
}
.highcharts-yaxis-grid.outline-black {
  outline: solid 2px #000;
  outline-offset: -2px;
}
.highcharts-yaxis .highcharts-axis-title {
  text-transform: uppercase;
  font-weight: bolder;
  left: 15px !important;
  text-align: center;
}
.cervix-y-label-main {
  width: 150px;
  text-align: center;
}
.cervix-y-label-station {
  width: 90px;
  text-align: center;
}
